<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="">Oimazon</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/products/add">Add product</a>
            </li>
            <li class="nav-item">
                <a href="/products/delete">Delete product</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container text-center">
    <h1 style="color: #563d7c">There was an error processing your request. Please try again.</h1>
</div>
<div class="container text-center">
        <a href="/" class="btn mx-auto my-auto">Return Home</a>
</div>